@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}
.skeleton-loading {
  background-color: #f0f0f0; /* cor de fundo do esqueleto */
  overflow: hidden; /* garante que o conteúdo não ultrapasse os limites do esqueleto */
  animation: loadingAnimation 1s infinite alternate; /* animação de loading */
}

.skeleton-item {
  height: 60px; /* altura padrão do item do esqueleto */
  margin-bottom: 10px; /* espaço entre os itens */
}

/* Animação de loading */
@keyframes loadingAnimation {
  0% {
    opacity: 0.5; /* transparência inicial */
  }
  100% {
    opacity: 1; /* transparência final */
  }
}
.background-animate {
  background-size: 400%;

  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
}

@keyframes AnimationName {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-animation {
  animation: rotate 20s linear infinite; /* 2s é a duração da animação */
}

textarea {
  resize: none; /* Impede o redimensionamento da textarea */
  padding-right: 5px;
}

textarea::-webkit-scrollbar {
  width: 6px; /* largura da barra de rolagem */
}

textarea::-webkit-scrollbar-track {
  background: none; /* cor de fundo da track (trilha) */
}

textarea::-webkit-scrollbar-thumb {
  background: #888; /* cor do thumb (alça) */
  border-radius: 5px; /* borda arredondada */
}

textarea::-webkit-scrollbar-thumb:hover {
  background: #555; /* cor do thumb (alça) ao passar o mouse por cima */
}
div::-webkit-scrollbar {
  width: 6px; /* largura da barra de rolagem */
}

div::-webkit-scrollbar-track {
  background: none; /* cor de fundo da track (trilha) */
}

div::-webkit-scrollbar-thumb {
  background: #888; /* cor do thumb (alça) */
  border-radius: 5px; /* borda arredondada */
}

div::-webkit-scrollbar-thumb:hover {
  background: #555; /* cor do thumb (alça) ao passar o mouse por cima */
}

.background-animate {
  background-size: 400%;
  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite;
}

@keyframes AnimationName {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
